* {
    -fx-start-margin:0;
    -fx-end-margin:0;
    -fx-font-size: 1em;
    -fx-font-family: "roboto";
    -fx-font-weight: bold;

    /* Colors */
    blk-800: #0D0D0D;
    blk-600: #1A2226;
    blk-400: #545759;

    wht-800: #F2F2F2;
    wht-200: #8B8C8C;

    cta-orange: #ffa934;
    cta-orange-unavailable: #8f7f70;
    cta-green: #70da2f;
    cta-green-unavailable: #5f7f70;

    card-red: #f85454;
    card-black: #333333;

    -fx-background-color: blk-800;
    -fx-text-fill: wht-800;
}

.main-window {
    -fx-padding: 10px;
    -fx-background-color: blk-800;
    -fx-fit-to-width: 100%;
    -fx-fit-to-height: 100%;
}

.card {
    -fx-background-color: wht-800;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-border-radius: 10px;
}

.card.corner-label {
    -fx-padding: 10px;
    -fx-left-margin:0;
    -fx-top-margin:0;
    -fx-content-display: left;
    -fx-font-size: 0.5em;
}

.card.main-label {
    -fx-padding: 10px;
    -fx-font-size: 3em;
}

Label {
    -fx-font-size: 1em;
    -fx-font-family: "roboto";
    -fx-font-weight: bold;
}

.red {
    -fx-text-fill: card-red;
}

.card.red {
    -fx-border-color: card-red;
    -fx-border-width: 3px;
}

.black {
    -fx-text-fill: card-black;
}
.card.black {
    -fx-border-color: card-black;
    -fx-border-width: 5px;
    -fx-outline-color: wht-800;
    -fx-outline-width: 2px;
}
